@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d0f12;
    --foreground: #f1f3f5;
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-feature-settings: "cv11", "ss01";
    font-variation-settings: "opsz" 32;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
